# basic and tui
rich
textual
typer
colorama
markdown

# system, input, hardware
keyboard
pynput
pyclip
sounddevice
soundfile
watchdog

# network and api compatibility
websockets
openai
ollama
httpx

# ASR core
sherpa-onnx
gguf
onnxruntime-directml

# data process
numpy
numba
pypinyin
srt
rapidfuzz

# tray and image compatibility
pystray
Pillow
tkhtmlview

# build
pyinstaller
